.back{
    background-color: rgb(5, 5, 24);
    background-image: url("https://img.freepik.com/free-vector/modern-desktop-background-geometric-blue-design-vector_53876-135923.jpg?semt=ais_items_boosted&w=740");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: rgb(26, 26, 107);
    height: 50px;
    border-radius: 25px;
}
.spline{
    height: 100vh;
    display: block;
    /* margin-left: 250px; */
}
.video{
    height: 100vh;
    position: relative;
    margin-right: 100px;
    background: transparent;
    /* position: fixed; */
    /* right: 0;
    bottom: 0; */
    z-index: 0;
    mix-blend-mode: screen;
    overflow: hidden;
}
@media screen and (max-width : 768px) { 
    .compvideo{
        display: flex;
        /* height: 200px; */
        width: 700px;
        justify-content: start;
    }
    .video{
        width: 700px;
        margin: 0px;
    }
}

.head_text{
    color:rgb(18, 18, 58);
}
.intro_row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    position: relative;
    top: 50px;
    color: white;
}
.project_color{
    background-color: rgb(22, 22, 22);
    text-align: center;
    color: white;
}
.project_image{
    transform: rotateZ(270deg);
    /* position: relative;
    left: 15%; */
    transition: transform 0.3s ease-in-out;

}
.project_image:hover{
    transform: rotateZ(270deg)scale(1.2);
}
.project{
    /* position: relative;
    left: 15%; */
    display: flex;
    justify-content: center;
    align-items: center;
} 
.project_text{
    color: white;
}
.project_image_1{
     transition: transform 0.3s ease-in-out;
}
.project_image_1:hover{
    transform: scale(1.2);
}
.background_skill{
    background-color: rgb(22, 22, 22);
}
.brain_image{
        mix-blend-mode: screen;
        overflow: hidden;
}
@media screen and (max-width : 768px) { 
    .compbrain{
        display: flex;
        /* height: 200px; */
        width: 700px;
        justify-content: start;
    }
}

.earth_video{
        height: 100vh;
    position: relative;
    /* margin-right: 100px; */
    background: transparent;
    /* position: fixed; */
    /* right: 0;
    bottom: 0; */
    z-index: 0;
    mix-blend-mode: screen;
    overflow: hidden;
}
@media screen and (max-width : 768px) { 
    .compearth{
        display: flex;
        /* height: 200px; */
        width: 700px;
        justify-content: start;
    }
    .earth_video{
        width: 700px;
        margin: 0px;
    }
}
